Windows/usisUWP/Service References/PushNotification/Wns.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usis-svr06/Wns?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/usis.Framework" />
  <xs:element name="RegisterReceiver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageSid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelUri" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterReceiverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/usis.Framework" minOccurs="0" name="RegisterReceiverResult" nillable="true" type="q1:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>