Windows/usisUWP/Service References/PushNotification/Wns2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/usis.Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/usis.Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usis-svr06/Wns?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OperationResultOfguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/usis.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReturnValue" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultOfguid" nillable="true" type="tns:OperationResultOfguid" />
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultItems" nillable="true" type="tns:ArrayOfOperationResultItem" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
  <xs:complexType name="ArrayOfOperationResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationResultItem" nillable="true" type="tns:OperationResultItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationResultItem" nillable="true" type="tns:ArrayOfOperationResultItem" />
  <xs:complexType name="OperationResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultType" type="tns:OperationResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultItem" nillable="true" type="tns:OperationResultItem" />
  <xs:simpleType name="OperationResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Information" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Exception" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationResultType" nillable="true" type="tns:OperationResultType" />
</xs:schema>