Windows/Middleware/usis.Middleware/SAP/Samples/EQUIPMENT_CREATE01.XML

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
 <xsd:element name="EQUIPMENT_CREATE01">
  <xsd:annotation>
   <xsd:documentation>BAPI PM: Anlegen Equipment</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="IDOC">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="EDI_DC40">
        <xsd:annotation>
         <xsd:documentation>IDoc-Kontrollsatz für Schnittstelle zu einem externen System</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
           <xsd:annotation>
            <xsd:documentation>Name der Tabellenstruktur</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MANDT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Mandant</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCNUM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Nummer des IDocs</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="16"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCREL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>SAP-Release des IDocs</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STATUS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Status des IDocs</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIRECT">
           <xsd:annotation>
            <xsd:documentation>Richtung</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:enumeration value="1">
              <xsd:annotation>
               <xsd:documentation>Ausgang</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
             <xsd:enumeration value="2">
              <xsd:annotation>
               <xsd:documentation>Eingang</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OUTMOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Ausgabemodus</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EXPRSS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Übersteuerung im Eingang</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TEST" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Testkennzeichen</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="IDOCTYP" type="xsd:string" fixed="EQUIPMENT_CREATE01">
           <xsd:annotation>
            <xsd:documentation>Name des Basistyps</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="CIMTYP" minOccurs="0" type="xsd:string" fixed="">
           <xsd:annotation>
            <xsd:documentation>Erweiterung (vom Kunden definiert)</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MESTYP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Nachrichtentyp</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESCOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Nachrichtenvariante</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESFCT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Nachrichtenfunktion</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI-Standard, Kennzeichen</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDVRS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI-Standard, Version und Release</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI-Nachrichtentyp</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPOR">
           <xsd:annotation>
            <xsd:documentation>Absenderport (SAP-System, externes Subsystem)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRT">
           <xsd:annotation>
            <xsd:documentation>Partnerart des Absenders</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partnerrolle des Absenders</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRN">
           <xsd:annotation>
            <xsd:documentation>Partnernummer des Absenders</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Absenderadresse (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Logische Adresse des Absenders</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPOR">
           <xsd:annotation>
            <xsd:documentation>Empfängerport</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partnerart des Empfängers</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partnerrolle des Empfängers</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRN">
           <xsd:annotation>
            <xsd:documentation>Partnernummer des Empfängers</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Empfängeradresse (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Logische Adresse des Empfängers</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CREDAT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Erstellungsdatum</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CRETIM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Erstellungsuhrzeit</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFINT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Übertragungsdatei (EDI Interchange)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFGRP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Nachrichtengruppe (EDI Message Group)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Nachricht (EDI Message)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ARCKEY" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Schlüssel des externen Nachrichtenarchivs</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERIAL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Serialisierung</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="E1EQUIPMENT_CREATE" minOccurs="0">
        <xsd:annotation>
         <xsd:documentation>Kopfsegment</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="EXTERNAL_NUMBER" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Equipmentnummer</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="18"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VALID_DATE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Datum, an dem der Einbauort des Equipments geändert wurde</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="E1BP_ITOB" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>PM: BAPI-Struktur für ITOBAPI_CREATE + READ-Felder</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="AUTHGRP" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Berechtigungsgruppe zum Technischen Objekt</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="OBJECTTYPE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Art des technischen Objekts</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="INVENTORY" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Inventarnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="OBJ_SIZE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Größe/Abmessung</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="OBJ_WEIGHT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Gewicht des Objekts</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="UNIT_OF_WT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Gewichtseinheit</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="UNIT_ISO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>ISO-Code Maßeinheit</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ACQDATE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Anschaffungsdatum</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ACQUISVAL" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Anschaffungswert</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CURRENCY" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Währungsschlüssel</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CURR_ISO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Iso-Code Währung</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MANFACTURE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Hersteller der Anlage</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MANCOUNTRY" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Herstellerland</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="COUNTR_ISO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>ISO-Code des Landes</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MANSERNO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Serialnummer gemäß Hersteller</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MANMODEL" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Typenbezeichnung des Herstellers</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CONSTYEAR" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Baujahr</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CONSTMONTH" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Baumonat</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="START_FROM" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Datum der Inbetriebnahme des Technischen Objekts</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="PLANPLANT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Instandhaltungsplanungswerk</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CONSTTYPE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Bautypmaterial des technischen Objekts</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MANPARNO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Herstellerteilnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="PLANGROUP" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Planergruppe für Kundenservice und Instandhaltung</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CATPROFILE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Berichtsschema</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="WORK_CTR" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Objekt-ID des Arbeitsplatzes</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DESCRIPT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Bezeichnung technisches Objekt</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ABCINDIC" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>ABC-Kennzeichen zum technischen Objekt</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SORTFIELD" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Sortierfeld</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MAINTPLANT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Standortwerk</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MAINTLOC" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Standort der Anlage</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MAINTROOM" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Raum</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="PLSECTN" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Betriebsbereich</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="PP_WKCTR" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Objekt-ID des PPS-Arbeitsplatzes</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="BUS_AREA" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Geschäftsbereich</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="COSTCENTER" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Kostenstelle</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="WBS_ELEM" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Projektstrukturplanelement (PSP-Element)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="COMP_CODE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Buchungskreis</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ASSET_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Anlagen-Hauptnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SUB_NUMBER" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Anlagenunternummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="STANDORDER" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Dauerauftragsnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SETTLORDER" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Abrechnungsauftrag</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SALES_ORG" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Verkaufsorganisation</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DISTR_CHAN" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Vertriebsweg</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DIVISION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Sparte</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SALES_OFF" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Verkaufsbüro</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SALES_GRP" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Verkäufergruppe</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="READ_CRDAT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Datum, an dem der Satz hinzugefügt wurde</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="READ_CRNAM" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Name des Sachbearbeiters, der das Objekt hinzugefügt hat</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="READ_CHDAT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Datum der letzten Änderung</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="READ_CHNAM" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Name des Sachbearbeiters, der das Objekt geändert hat.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="READ_ADRNR" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Adressnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CONSTTYPE_EXTERNAL" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Lange Materialnummer zum Feld CONSTTYPE</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CONSTTYPE_GUID" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Externe GUID zum Feld CONSTTYPE</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CONSTTYPE_VERSION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Versionsnummer zum Feld CONSTTYPE</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1BP_ITOB_EQ_ONLY" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>PM: BAPI-Struktur für ITOBAPI_CREATE_EQ_ONLY + READ-Felder</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="CONFIGMAT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Konfigurierbares Material</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MATERIAL" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Materialnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SERIALNO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Serialnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="EQUICATGRY" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Equipmenttyp</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="BATCH" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Chargennummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MANDRAWNO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Zeichnungsnummer laut Hersteller</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DELIVDATE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Erstes Auslieferungsdatum des Equipments</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FREE_DATE1" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Datum, für SAP-interne Nutzung vorgesehen</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FREE_NOTE1" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Technische Informationen, für SAP-interne Nutzung vorgesehen</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FREE_NUM1" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Numerisches Feld, für SAP-interne Nutzung vorgesehen</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="TECHID" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Technische Identnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="LICENSE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Lizenznummer des Equipments</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FREE_DATE2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Datum, für SAP-interne Nutzung vorgesehen</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FREE_NOTE2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Technische Informationen, für SAP-interne Nutzung vorgesehen</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FREE_NUM2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Numerisches Feld, für SAP-interne Nutzung vorgesehen</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="READ_CUOBJ" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Konfiguration (interne Objektnummer)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="READ_CUREF" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Referenzierte Konfiguration</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="READ_SUPEQ" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Übergeordnetes Equipment</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="READ_FLOC" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Kennzeichnung des Technischen Platzes</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="INST_POS" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Equipmentposition am Einbauort (überg.Eqmt/Techn.Platz)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CONFIGMAT_EXTERNAL" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Lange Materialnummer zum Feld CONFIGMAT</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CONFIGMAT_GUID" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Externe GUID zum Feld CONFIGMAT</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CONFIGMAT_VERSION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Versionsnummer zum Feld CONFIGMAT</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MATERIAL_EXTERNAL" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Lange Materialnummer zum Feld MATERIAL</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MATERIAL_GUID" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Externe GUID zum Feld MATERIAL</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MATERIAL_VERSION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Versionsnummer zum Feld MATERIAL</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1BP_ITOB_EQ_INSTALL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>PM: BAPI-Struktur für Ein-/Ausbau Equipments</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="FUNCLOC" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Kennzeichnung des Technischen Platzes</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SUPEQUI" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Übergeordnetes Equipment</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="INST_POS" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Equipmentposition am Einbauort (überg.Eqmt/Techn.Platz)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="BEGIN" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
